<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            <title>Gym Manager</title>
        {% endblock %}

        {# main css import #}
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <section id="container-menu">
                <img src="img/logo-2.jpg" alt="">
                <nav id="main">
                    <ul>
                        <li>
                            <a href="/">Members</a>
                        </li>
                        <li>
                            <a href="/instructors">Instructors</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>

        {% block content %}{% endblock content %}

        <script src="js/main.js"></script>
    </body>
</html>