{% extends "layout.njk" %}

{% block content %}
    <section class="card">
        <div class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover"></div>
        <div class="details">
            <h3>Details</h3>

            <div class="item">
                <div>Instructor</div>
                <div>Pedro Higor</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>20</div>
            </div>
            <div class="item">
                <div>Sexo</div>
                <div>Masculino</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crosfit</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>01/01/2020</div>
            </div>
        </div>
    </section>

    {# Buttons manager ================> #}
    <section class="buttons-manager">
        <a href="/instructors/create">
            Cadastrar novo instrutor
        </a>
    </section>
{% endblock content %}